{{ define "header" }}
<html>
<head>
    <title>{{ .title }}</title>
</head>
<body>
  {{ if .loggedIn }}
  <a href="/logout">logout</a>
  {{ else }}
  <a href="/login">login</a>
  {{ end }}
  <a href="/">root</a>
  <a href="/foo">foo</a>
  <a href="/bar">bar</a>
{{ end }}

{{ define "footer" }}
</body>
</html>
{{ end }}
